* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: rgb(193, 193, 193);
}

.container {
  width: 100%;
}

.search {
  display: block;
  margin: 6em auto;
  outline: none;
}

.show-more-btn {
  border: 1px solid transparent;
  outline: none;
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgb(44, 252, 221);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-bottom: 4em;
  transition: 0.5s;
}

.show-more-btn:hover {
  background-color: rgba(44, 252, 221, 0.8);
  transition: 0.5s;
}

.show-more-btn:active {
  background-color: rgba(44, 252, 221, 0.4);
  border: 1px solid rgb(44, 252, 221);
  transition: 0.5s;
}